/*CONFIGURAÇÕES GERAIS*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    height: 200px;
    margin-top: 40px;
}

/*===================*/

/*BARRA DE NAVEGAÇÃO*/

nav {
    width: 100%;
    height: 30%;
        margin-top: 40px;

}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

li {
    padding: 10px;
}

li a {
    text-decoration: none;
    color: gray;
}

button {
    padding: 0;
    width: 80px;
    height: 40px;
    background-color: rgb(255, 138, 96);
    color: black;
    font-weight: bolder;
    border: none;
    border-radius: 7px;
}

/*============================*/

/*TOPO*/

.imagem-principal {
    width: 35vh;
    height: 250px;
    float: left;
    margin-right: 40px;
}

h1{
    display: inline;
}

p {
    margin-top: 10px;
    color: gray;
    font-size: 1.8vh;
}

.imagem-perfil {
    margin-right: 10px;
    margin-top: 10px;
    height: 5vh;
    width: 5vh;
    float: left;
}

h5 {
    display: block;
    margin-top: 20px;
}

span {
    font-size: 1.7vh;
    color: gray;
}
/*===================*/

/*CONTEÚDO PRINCIPAL*/

.cards {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


.imagem-card {
    width: 100%;
    height: 170px;
    margin-bottom: 10px;
    margin-top: 50px;
}

/*===================*/

/*RODAPÉ*/

footer {
    margin-top: 50px;

}

#copyright {
    float: right;
    font-size: 1.45vh;
    margin-top: 50px;
}

#logo {
    float: left;
    margin-top: 35px;

}

/*RESPONSIVIDADE*/

@media screen and (max-width: 795px){
    .cards {
       grid-template-columns: 1fr;
       justify-content: center;
       align-items: center;
    }
    .imagem-principal {
        display: block;
    }

    h1 {
        display: block;
    }
}   

@media screen and (max-width: 671px){
    .imagem-principal {
        width: 100%;
        height: 150px;
    }

    .cards {
        margin-top: 130px;
    }

}